{% if perms.netbox_example.change_example %}
    <a href="{% url 'netbox-example:example_edit' pk=record.pk %}?return_url={{ request.path }}" class="btn btn-xs btn-warning" title="Edit example">
        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
    </a>
{% endif %}
{% if perms.netbox_example.delete_example %}
    <a href="{% url 'netbox-example:example_delete' pk=record.pk %}?return_url={{ request.path }}" class="btn btn-danger btn-xs" title="Delete example">
        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
    </a>
{% endif %}
