{% load helpers %}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Device Example Right</strong>
    </div>
    {% if device.deviceexample_set.exists %}
        <table class="table table-hover panel-body attr-table">
            {% for example in device.deviceexample_set.all %}
                <tr>
                    <td>{{ example.name }}</td>
                    <td class="rendered-markdown">{{ example.value|gfm }}</td>
                    <td class="text-right noprint">
                        {% include "netbox_example/deviceexample_buttons.html" with record=example %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="panel-body">
            <span class="text-muted">None</span>
        </div>
    {% endif %}
    {% if perms.netbox_example.add_deviceexample %}
        <div class="panel-footer text-right noprint">
            <a href="{% url 'netbox-example:deviceexample_add' %}?device={{ device.pk }}&return_url={{ request.path }}"
               class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add device example
            </a>
        </div>
    {% endif %}
</div>
